name: Cypress E2E Tests
on: [push] # Test akan jalan setiap kali kamu push code

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
              record: true # Mengaktifkan pelaporan ke cloud
        env:
                # Mengambil key yang kita simpan di Secrets tadi
              CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
